*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "InterTight-Regular";
    src: url("../fonts/InterTight-Regular.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }
  @font-face {
    font-family: "InterTight-Medium";
    src: url("../fonts/InterTight-Medium.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap; 
  }
  @font-face {
    font-family: "InterTight-Bold";
    src: url("../fonts/InterTight-Bold.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
  }
  @font-face {
    font-family: "InterTight-SemiBold";
    src: url("../fonts/InterTight-SemiBold.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
  }
  @font-face {
    font-family: "InterTight-LightItalic";
    src: url("../fonts/InterTight-LightItalic.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
  }
  @font-face {
    font-family: "InterTight-BoldItalic";
    src: url("../fonts/InterTight-BoldItalic.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
  }
  @font-face {
    font-family: "InterTight-Black";
    src: url("../fonts/InterTight-Black.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
  }
  @font-face {
    font-family: "InterTight-Light";
    src: url("../fonts/InterTight-Light.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
  }

body{
  overflow-x: hidden;
}

main{
  width: 100%;
  height: 100%;
  max-width: 1240px;
  margin: 50px auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  min-height: 500px;
}

ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}

.title-pages {
  font-family: 'InterTight-Bold';
  color: #000000;
  font-size: 45px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 1.8px;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.226);
}

.sub-title-pages {
  font-family: 'InterTight-Regular';
  color: #32a1fc;
  font-size: 20px;
  text-align: center;
}

.text-pages {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 769px) {
  .title-pages {
    font-size: 40px;
  }
}